@import url("https://fonts.googleapis.com/css2?family=Anuphan:wght@100;200;300&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anuphan:wght@100;200;300&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #26272e;
}
@font-face {
  font-family: satoshi;
  src: url(/assets/style/Satoshi_Complete/Fonts/OTF/Satoshi-Black.otf);
}
.satoshi {
  font-family: satoshi;
}
.nuninto {
  font-family: "Anuphan", sans-serif;
  font-family: "Nunito", sans-serif;
}
.poppins {
  font-family: "Poppins", sans-serif;
}

.customContainer {
  max-width: 1029px;
  margin: 0 auto;
}
.herobg {
  background-image: url("../images/mainbg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 500px;
  width: 37%;
}

.catLying{
  background-image: url("/assets/images/catlying.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 400px;
  width: 37%;

}
.missionbg {
  background-image: url("/assets/images/missionbg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 500px;
  width: 45%;
}
.rectanglebg {
  background-image: url("/assets/images/Rectangle.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 414px;
  width: 36%;
}
#grad {
  background-image: linear-gradient(
    to right,
    rgba(182, 109, 190, 1),
    rgba(239, 108, 161, 1),
    rgba(255, 114, 147, 1),
    rgba(255, 196, 62, 1)
  );
  height: 40px;
}
